<!DOCTYPE html>
<html>
<head>
  <title>Event Manager 2.0</title>
</head>
<body>
  <h1>Invites</h1>

  <h2>Attendees (25)</h2>
  <ul>
    <% @acceptances.each do |rsvp| %>
    <li> <%= rsvp[0] %> </li>
    <% end %>
  </ul>

  <h2>Apologies (22)</h2>
  <ul>
    <% @rejections.each do |rsvp| %>
    <li> <%=rsvp [0] %> </li>
    <% end %>
  </ul>


</body>
</html>