<!DOCTYPE html>
<html>
<head>
  <title>Event Manager 2.0</title>
    <link rel="stylesheet" href="/dist/css/bootstrap.css">
  <body style="padding-left: 20px;">
</head>
<body>
  <h1>Invitations</h1>

  <h2>Attendees (25)</h2>
  <ul>
    <% @acceptances.each do |rsvp| %>
    <li> <%= rsvp[0] %> </li>
    <% end %>
  </ul>

  <h2>Apologies (22)</h2>
  <ul>
    <% @rejections.each do |rsvp| %>
    <li> <%=rsvp [0] %> </li>
    <% end %>
  </ul>


</body>
</html>