<!DOCTYPE html>
<html>
<head>
  <title>Event Manager 2.0</title>
   <link rel="stylesheet" href="/dist/css/bootstrap.css">
   <body style="padding-left: 20px;">
</head>
<body>
  <h1>Event schedule</h1>
  <table border=1>
  	<% @schedule.each do |schedule| %>
    <tr>
      <td><%=schedule[0] %></td>
      <td><%=schedule[1] %></td>
    </tr>
     <% end %>
  </table>

</body>
</html>